<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> header}}
    <div class="">
        {{toUpper greating}}<br/>
    </div>
    <div class="">

      {{greating}}
    </div>
    <div class="">
      year = {{getCurrentYear}}
    </div>
    {{> footer}}
  </body>
</html>
